.dropdown-item-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #a3acbf;
  padding: 8px 16px;
  cursor: pointer;
}
.dropdown-item-container:hover {
  background-color: rgb(225, 225, 225);
}

.selected {
  background-color: rgb(225, 225, 225);
}
.checkbox {
  margin-right: 12px;
  cursor: pointer;
}

.character-image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.info-container {
  margin-left: 8px;
}

.name {
  font-size: 16px;
  font-weight: 500;
  color: #5d6576;
}

.episode-count {
  font-size: 14px;
  color: #717b90;
}
.active {
  text-decoration: underline;
  color: #944694;
}

.loading-icon {
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
